@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
  }
  .sidebar {
    left: -100%;
  }
  .sidebar.active {
    left: 0;
  }

  .nested-nav {
    max-height: 0;
  }

  .nested-nav.active {
    max-height: 10rem;
  }

  @media only screen and (min-width: 1024px) {
    .background-img {
      background-image: url("http://localhost:3000//bg.jpg");
      background-repeat: no-repeat;
      background-position: 91% 1%;
      background-size: 65% 100%;
    }
  }
}
